./alpha-cli.sh
./alpha-k8-cli.sh
./build/classes
./build/distributions
./build/generated
./build/resources
./build/scripts
./build/scriptsShadow
./build/tmp
./build.gradle
./generateService.sh
./gradle
./gradle.properties
./gradlew
./gradlew.bat
./kube
./lombok.config
./micronaut-cli.yml
./package-lock.json
./skaffold.yaml
./src
./webapp
