apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-configmap
  namespace: elastic-search-local
data:
  logstash.yml: |
    http.host: "0.0.0.0"
    path.config: /usr/share/logstash/pipeline
  logstash.conf: |
    input {
      beats {
        port => 5044
      }
    }
    filter {
      grok {
          match => { "message" => [
          "%{TIME:timestamp}\[(%{DATA:thread})?\]\[(\|t\-%{DATA:traceId}\|u\-%{DATA:userId})?\]\[%{LOGLEVEL:logLevel}\]%{DATA:package}::(%{DATA:operation}::)?%{GREEDYDATA:msg}",
          "\[%{TIMESTAMP_ISO8601:timestamp}\]\[%{NUMBER:lognumber}\]\[%{LOGLEVEL:logLevel}]\[.*\]%{SPACE}\[.*\]%{GREEDYDATA:msg}",
          "\[%{TIMESTAMP_ISO8601:time}\]%{SPACE}\"%{DATA:request}\"%{SPACE}%{NUMBER:responseCode:int}%{SPACE}-%{SPACE}\"-\"%{SPACE}\"-\"%{SPACE}%{NUMBER:bytesRec:int}%{SPACE}%{NUMBER:bytesSent:int}%{SPACE}%{NUMBER:responseTime:int}%{SPACE}%{NUMBER:upstreamResponseTime:int}%{SPACE}\"%{IP:sourceIpAddress},%{SPACE}%{IP},%{IP}\"%{SPACE}%{DATA:userAgent}\"%{SPACE}\"%{UUID:id}\"%{SPACE}\"%{DATA:host}\""]
          }
      }
      date {
        match => [ "timestamp" , "dd/MMM/yyyy:HH:mm:ss Z" ]
      }

      }
      output {
        elasticsearch {
          hosts => ["elasticsearch-master:9200"]
      }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash-deployment
  namespace: elastic-search-local
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logstash
  template:
    metadata:
      labels:
        app: logstash
    spec:
      containers:
        - name: logstash
          image: docker.elastic.co/logstash/logstash:6.3.0
          ports:
            - containerPort: 5044
          volumeMounts:
            - name: config-volume
              mountPath: /usr/share/logstash/config
            - name: logstash-pipeline-volume
              mountPath: /usr/share/logstash/pipeline
      volumes:
        - name: config-volume
          configMap:
            name: logstash-configmap
            items:
              - key: logstash.yml
                path: logstash.yml
        - name: logstash-pipeline-volume
          configMap:
            name: logstash-configmap
            items:
              - key: logstash.conf
                path: logstash.conf
---
apiVersion: v1
kind: Service
metadata:
  name: logstash-service
  namespace: elastic-search-local
spec:
  selector:
    app: logstash
  ports:
    - protocol: TCP
      port: 5044
      targetPort: 5044